<div
  class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
>
  <div class="col p-4 d-flex flex-column position-static">
    <strong class="d-inline-block mb-2 text-success">Design</strong>
    <h3 class="mb-0">Post title</h3>
    <div class="mb-1 text-muted">Nov 11</div>
    <p class="mb-auto">
      This is a wider card with supporting text below as a natural lead-in to additional content.
    </p>
    <a href="#" class="stretched-link">Continue reading</a>
  </div>
  <div class="col-auto d-none d-lg-block">
    <img src="img/our-menu-02.jpg" width="200" alt="" />
  </div>
</div>
