<div
  class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
>
  <div class="col p-4 d-flex flex-column position-static">
    <strong class="d-inline-block mb-2 text-primary">{{ blogInput.category }}</strong>
    <h3 class="mb-0">{{ blogInput.title }}</h3>
    <div class="mb-1 text-muted">{{ blogInput.date }}</div>
    <p class="card-text mb-auto">
      {{ blogInput.description }}
    </p>
    <a href="#" class="stretched-link">Continue reading</a>
  </div>
  <div class="col-auto d-none d-lg-block">
    <img [src]="blogInput.image" width="200" alt="" />
  </div>
</div>
